.action-content {
	MARGIN-BOTTOM: 15px; border-radius: 5px
}
.action-content IMG {
	border-radius: 5px
}
.share-content {
	MARGIN-BOTTOM: 15px; BORDER-BOTTOM-STYLE: none
}
.action-content .action-postion {
	POSITION: relative
}
.action-content .action-img {
	OVERFLOW: hidden; HEIGHT: 10.5em; POSITION: relative; Z-INDEX: 1; border-radius: 5px
}
.action-content .action-img IMG {
	WIDTH: 100%; border-radius: 5px
}
.action-content .action-garybg {
	WIDTH: 100%; POSITION: absolute; COLOR: #fff; Z-INDEX: 2; BOTTOM: 0px
}
.action-content .action-time {
	FONT-SIZE: 14px
}
.action-content .action-time SPAN {
	DISPLAY: inline-block
}
.action-content .action-tip {
	FONT-SIZE: 12px; HEIGHT: 110px; WIDTH: 40px; POSITION: absolute; LEFT: 0px; TOP: 25px
}
.share-content .action-tip {
	FONT-SIZE: 12px; HEIGHT: 110px; WIDTH: 40px; POSITION: absolute; LEFT: 0px; TOP: 25px
}
.action-content .action-title {
	BACKGROUND: #363940; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 10px; MARGIN: 0px 10px; PADDING-RIGHT: 10px; border-radius: 0 0 10px 10px; box-shadow: 0 0px 5px rgba(0,0,0,0.01)
}
.action-content .action-title H4 {
	FONT-SIZE: 15px; OVERFLOW: hidden; MARGIN-BOTTOM: 3px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; FONT-WEIGHT: normal; COLOR: #9d9faa
}
.action-content .action-title SPAN {
	MARGIN-BOTTOM: 5px; COLOR: #666
}
.action-content .action-title P {
	FONT-SIZE: 13px
}
.action-content .blue.action-tip {
	BACKGROUND: url(../../images/action_nostart.png) no-repeat; background-size: contain
}
.action-content .orange.action-tip {
	BACKGROUND: url(../../images/action_star.png) no-repeat; background-size: contain
}
.action-content .gary.action-tip {
	BACKGROUND: url(../../images/action_over.png) no-repeat; background-size: contain
}
.share-content .green.action-tip {
	BACKGROUND: url(../../images/reservation_chenggong.png) no-repeat; background-size: contain
}
.share-content .red.action-tip {
	BACKGROUND: url(../../images/reservation_shibai.png) no-repeat; background-size: contain
}
.share-content .orange.action-tip {
	BACKGROUND: url(../../images/reservation_nostart.png) no-repeat; background-size: contain
}
.share-content .blue.action-tip {
	BACKGROUND: url(../../images/reservation_pingjia.png) no-repeat; background-size: contain
}
.share-content .gary.action-tip {
	BACKGROUND: url(../../images/reservation_finish.png) no-repeat; background-size: contain
}
.share-content .action-img {
	HEIGHT: 10.5em; POSITION: relative
}
.share-content .action-img IMG {
	HEIGHT: 10.5em; WIDTH: 100%; border-radius: 5px
}
.share-content .action-title {
	BACKGROUND: #34373d; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 10px; MARGIN: 0px 10px; DISPLAY: flex; PADDING-RIGHT: 10px; border-radius: 0 0 5px 5px; align-items: center; box-shadow: 0 1px 3px rgba(0,0,0,0.05)
}
.share-content :first-child.action-title {
	PADDING-BOTTOM: 5px
}
.share-content .action-title H4 {
	FONT-SIZE: 16px; OVERFLOW: hidden; HEIGHT: 38px; FONT-WEIGHT: normal; COLOR: #9d9faa; LINE-HEIGHT: 1.2em; -webkit-box-orient: vertical; -webkit-line-clamp: 2
}
.share-content .action-title .pull-left {
	WIDTH: 60%
}
.share-content .action-title .pull-right {
	WIDTH: 34%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 35px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
.share-content .action-title P {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; COLOR: #9d9faa
}
.share-content DIV.pull-right {
	FONT-SIZE: 14px
}
.share-content .pull-right {
	FONT-SIZE: 14px
}
.share-content BUTTON:focus {
	FONT-SIZE: 14px
}
.weui-search-bar__cancel-btn {
	COLOR: #5077aa
}
.saixuan {
	FONT-SIZE: 15px; COLOR: #9d9faa; TEXT-ALIGN: center; LINE-HEIGHT: 30px
}
.saixuan .weui-navbar__item {
	FONT-SIZE: 14px; POSITION: relative; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
.saixuan .weui-flex__item:after {
	HEIGHT: 15px; WIDTH: 1px; BACKGROUND: #e5e5e5; RIGHT: 0px; POSITION: absolute; CONTENT: ''; DISPLAY: none; TOP: 8px
}
.saixuan .weui-flex__item I {
	FONT-SIZE: 14px; COLOR: #9d9faa
}
.saixuan .on.weui-flex__item {
	COLOR: #4ec3f7
}
.saixuan .on.weui-flex__item I {
	COLOR: #4ec3f7
}
.action-wrapper .action-content {
	MARGIN-BOTTOM: 0px
}
.swiper-wrapper IMG {
	WIDTH: 100%; border-radius: 5px
}
.active-cell {
	BACKGROUND-COLOR: #363940; box-shadow: 0 0px 5px rgba(0,0,0,0.01)
}
.weui-cells.active-cell:after {
	DISPLAY: none
}
.action-cbox {
	PADDING-LEFT: 5px; MARGIN-LEFT: 10px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #363940; MARGIN-RIGHT: 10px; border-radius: 5px; box-shadow: 0 0px 5px rgba(0,0,0,0.01)
}
.action-cbox .iconfont {
	FONT-SIZE: 20px
}
.weui-cells.action-cbox:after {
	DISPLAY: none
}
.weui-panel.action-cbox:before {
	DISPLAY: none
}
.action-cbox .weui-label {
	COLOR: #9d9faa
}
.action-title-box .title {
	FONT-SIZE: 15px; COLOR: #9d9faa; LINE-HEIGHT: 1.5em; PADDING-RIGHT: 10px
}
.action-title-box P {
	FONT-SIZE: 13px; MARGIN-TOP: 5px; COLOR: #666
}
.actin-page-list {
	FONT-SIZE: 14px; COLOR: #9d9faa
}
.meeting-list .weui-cell {
	FONT-SIZE: 14px; COLOR: #9d9faa
}
.action-details .weui-panel__hd {
	FONT-SIZE: 15px; COLOR: #9d9faa
}
.action-details .weui-media-box__desc {
	FONT-SIZE: 16px; COLOR: #333
}
.footicon-flex {
	MARGIN-BOTTOM: 0px; MARGIN-TOP: 20px; TEXT-ALIGN: left; DISPLAY: flex; align-items: center; justify-content: space-around; flex-direction: row
}
.footicon-flex A {
	FONT-SIZE: 14px; WIDTH: 30%; COLOR: #0e85dd; TEXT-ALIGN: left; DISPLAY: inline-block; LINE-HEIGHT: 2
}
.footicon-flex A:first-child {
	PADDING-LEFT: 10px
}
.footicon-flex A I {
	FONT-SIZE: 22px; VERTICAL-ALIGN: -2px; MARGIN-RIGHT: 5px
}
.action-btn-margin {
	MARGIN: 20px 10px 10px
}
.action-common {
	BACKGROUND-COLOR: transparent
}
.weui-panel__hd.action-common-title:after {
	DISPLAY: none
}
.action-common .weui-media-box__title {
	MARGIN-TOP: 5px; DISPLAY: flex; align-items: center; flex-direction: row
}
.action-common .weui-media-box__title .name {
	FONT-SIZE: 14px; COLOR: #9d9faa; flex: 1
}
.action-common .weui-media-box__title .time {
	FONT-SIZE: 13px; COLOR: #9d9faa
}
.action-common .comon-content {
	FONT-SIZE: 15px; WORD-WRAP: break-word; COLOR: #333
}
.de-pl {
	FONT-SIZE: 13px; COLOR: #ff6339
}
.user_gary_bg {
	MARGIN-BOTTOM: 5px; BACKGROUND: #41454f; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; border-radius: 5px
}
.user_gary_bg H4 {
	FONT-SIZE: 14px; COLOR: #7a95cb
}
.user_gary_bg .mes-line {
	HEIGHT: 1px; BACKGROUND: #9d9faa; MARGIN: 10px -10px
}
.user_gary_bg P.comon-content {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 0px !important; BORDER-BOTTOM-STYLE: none !important; PADDING-BOTTOM: 0px !important
}
.foot-comment {
	BORDER-TOP: #e5e5e5 1px solid; BACKGROUND: #fff; PADDING-BOTTOM: 5px; PADDING-TOP: 8px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.foot-comment .weui-cell {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 15px; BORDER-LEFT: #e5e5e5 1px solid; MARGIN: 0px 5px 0px 0px; PADDING-RIGHT: 15px; border-radius: 20px
}
.share-banner {
	border-radius: 5px
}
.share-grids {
	BACKGROUND: #fff
}
.share-grids .weui-grid:before {
	BORDER-RIGHT-STYLE: none
}
.share-grids .weui-grid__icon {
	HEIGHT: 44px; WIDTH: 44px
}
.share-font {
	COLOR: #9d9faa
}
.meeting-list.share-font I {
	FONT-SIZE: 16px
}
.saixun-pop {
	WIDTH: 80%; LEFT: auto
}
.saixun-pop .toolbar .toolbar-inner {
	PADDING-LEFT: 10px
}
.saixun-pop .toolbar .title {
	FONT-SIZE: 14px; TEXT-ALIGN: left
}
.saixun-pop .pop_title {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; MARGIN-TOP: 10px; COLOR: #666
}
.saixun-pop .modal-content {
	
}
.saixun-pop .leibie A {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; BACKGROUND: #dbe5ea; COLOR: #333; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 14px; DISPLAY: inline-block; PADDING-RIGHT: 14px; MARGIN-RIGHT: 5px; border-radius: 30px
}
.saixun-pop .leibie A.on {
	BACKGROUND: #0e85dd; COLOR: #fff
}
.saixun-pop .weui-popup__modal {
	TOP: 0px; -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0)
}
.weui-popup__container--visible.saixun-pop .weui-popup__modal {
	-webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0)
}
.saixun-pop .line {
	HEIGHT: 1px; BACKGROUND: #b5b5b5; MARGIN: 10px 0px; opacity: 0.5
}
.shaixian-box {
	OVERFLOW-Y: auto; PADDING-LEFT: 10px
}
.saixun-pop .btn-box {
	MARGIN-BOTTOM: 10px
}
.saixun-pop .btn-box BUTTON {
	FONT-SIZE: 15px; MARGIN-RIGHT: 10px
}
.page-bg {
	BACKGROUND: #273a54
}
.page-detail-padding {
	MARGIN-TOP: 30px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.page-detail-padding .detail-title {
	BACKGROUND: #eee; FONT-WEIGHT: bold; COLOR: #5077aa; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; border-top-left-radius: 5px; border-top-right-radius: 5px
}
.page-detail-padding .bg-white {
	PADDING-BOTTOM: 10px; PADDING-TOP: 40px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND-COLOR: #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px
}
.page-detail-padding .code-box {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px
}
.page-detail-padding .text-center {
	FONT-SIZE: 14px; COLOR: #666
}
.code-img IMG {
	WIDTH: 100%; MARGIN: 10px 0px
}
.qiandao-font-tab A {
	FONT-SIZE: 15px; COLOR: #5077aa; MARGIN: 0px 20px 20px; DISPLAY: inline-block
}
.qiandao-font-tab I {
	FONT-SIZE: 19px; MARGIN-RIGHT: 5px
}
.page-detail-padding .weui-cells:after {
	BORDER-BOTTOM-STYLE: none
}
.page-detail-padding .weui-cell {
	MARGIN-TOP: 10px
}
.baomi-company {
	FONT-SIZE: 18px; MARGIN-BOTTOM: 15px; COLOR: #333; TEXT-ALIGN: center
}
.weui-count.baomi-count .weui-count__btn {
	BORDER-TOP-COLOR: #0e85dd; BORDER-LEFT-COLOR: #0e85dd; BORDER-BOTTOM-COLOR: #0e85dd; BORDER-RIGHT-COLOR: #0e85dd; border-radius: 0
}
.weui-count.baomi-count .weui-count__btn:after {
	BACKGROUND-COLOR: #0e85dd
}
.weui-count .weui-count__btn:before {
	BACKGROUND-COLOR: #0e85dd
}
.weui-count.baomi-count .weui-count__increase:after {
	BACKGROUND-COLOR: #fff
}
.weui-count .weui-count__increase:before {
	BACKGROUND-COLOR: #fff
}
.weui-count.baomi-count .weui-count__increase:after {
	MARGIN-TOP: -5px
}
.baomi-count.weui-count .weui-count__increase {
	BACKGROUND: #0e85dd
}
.baomi-count.weui-count .weui-count__number {
	
}
.qiandao-border {
	BORDER-TOP: #5077aa 3px solid; HEIGHT: 160px; BORDER-RIGHT: #5077aa 3px solid; WIDTH: 160px; BORDER-BOTTOM: #5077aa 3px solid; TEXT-ALIGN: center; BORDER-LEFT: #5077aa 3px solid; MARGIN: 10px auto; border-radius: 50%
}
.qiandao-border .qiandao-time {
	FONT-SIZE: 22px; MARGIN-BOTTOM: 10px; MARGIN-TOP: 45px
}
.xiangqing {
	FONT-SIZE: 15px; COLOR: #9d9faa
}
.xiangqing P {
	FONT-SIZE: 15px; COLOR: #9d9faa
}
.xiangqing IMG {
	WIDTH: 100%
}
.meeting-box {
	PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.meeting-box .title {
	FONT-SIZE: 16px; COLOR: #9d9faa
}
.free-service {
	MARGIN-TOP: 0px
}
.free-service SPAN {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; BORDER-TOP: #5077aa 1px solid; BORDER-RIGHT: #5077aa 1px solid; BORDER-BOTTOM: #5077aa 1px solid; COLOR: #5077aa; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #5077aa 1px solid; DISPLAY: inline-block; PADDING-RIGHT: 10px; MARGIN-RIGHT: 2px; border-radius: 5px
}
.server_select SPAN {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; BORDER-TOP: #5077aa 1px solid; BORDER-RIGHT: #5077aa 1px solid; BORDER-BOTTOM: #5077aa 1px solid; COLOR: #5077aa; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #5077aa 1px solid; DISPLAY: inline-block; PADDING-RIGHT: 10px; MARGIN-RIGHT: 2px; border-radius: 5px
}
.meeting-price {
	FONT-SIZE: 15px; MARGIN-TOP: 10px; COLOR: #9d9faa
}
.meeting-price .gary {
	FONT-SIZE: 14px
}
.meeting-list {
	BACKGROUND-COLOR: transparent
}
.meeting-list I {
	VERTICAL-ALIGN: -1px; COLOR: #9d9faa; MARGIN-RIGHT: 5px
}
.meeting-list .weui-cell {
	PADDING-LEFT: 14px
}
.weui-cells.meeting-list:after {
	DISPLAY: none
}
.select-service {
	DISPLAY: block
}
.select-service .server-title {
	FONT-SIZE: 14px; COLOR: #666
}
.select-service .free-service {
	MARGIN-TOP: 5px
}
.share-xuqiu {
	PADDING-TOP: 20px; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.05)
}
.share-xuqiu .weui-panel__hd {
	FONT-SIZE: 14px; BACKGROUND: url(../../images/radus_bg_blue.png) no-repeat; COLOR: #9d9faa; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; background-size: contain
}
.share-xuqiu .weui-cells {
	BORDER-TOP: #9d9faa 1px solid; MARGIN: 10px 15px 0px
}
.share-xuqiu .weui-cells .weui-cell {
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.share-xuqiu .weui-cells .weui-cell:before {
	BORDER-TOP-COLOR: #9d9faa; BORDER-LEFT-COLOR: #9d9faa; BORDER-BOTTOM-COLOR: #9d9faa; LEFT: 0px; BORDER-RIGHT-COLOR: #9d9faa; -webkit-transform: scaleY(1); transform: scaleY(1)
}
.share-xuqiu .weui-cells .weui-cell .weui-label {
	FONT-SIZE: 14px; WIDTH: 90px
}
.share-xuqiu-textarea {
	BORDER-TOP: #9d9faa 1px solid; BORDER-RIGHT: #9d9faa 1px solid; MARGIN-TOP: 10px; BORDER-BOTTOM: #9d9faa 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #9d9faa 1px solid; PADDING-RIGHT: 10px; border-radius: 5px
}
.share-xuqiu-textarea TEXTAREA {
	MARGIN-TOP: 0px; BACKGROUND-COLOR: transparent
}
.weui-panel.share-xuqiu:before {
	DISPLAY: none
}
.weui-panel.share-xuqiu:after {
	DISPLAY: none
}
.server_select SPAN.on {
	BACKGROUND: #5077aa; COLOR: #fff
}
.card-head .card-bg {
	BACKGROUND: #363940; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 0px; MARGIN: 20px 10px; PADDING-RIGHT: 0px; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.05)
}
.card-head .card-bg .title {
	FONT-SIZE: 14px; BACKGROUND: url(../../images/radus_bg_orange.png) no-repeat; COLOR: #9d9faa; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; background-size: contain
}
.card-head .card-content-padding {
	PADDING-BOTTOM: 10px; PADDING-TOP: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.card-head .card-bg .meeting-card-title {
	FONT-SIZE: 15px; BORDER-TOP: #9d9faa 1px solid; BORDER-BOTTOM: #9d9faa 1px solid; FONT-WEIGHT: normal; COLOR: #9d9faa; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 5px 0px 10px; LINE-HEIGHT: 50px; PADDING-RIGHT: 0px
}
.card-head .card-bg .meeting-card-content {
	FONT-SIZE: 14px; COLOR: #9d9faa
}
.card-head .card-bg .meeting-card-content I {
	FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #9d9faa; MARGIN-RIGHT: 5px
}
.card-head .card-bg .meeting-order-title {
	FONT-SIZE: 16px; MARGIN-BOTTOM: 10px; MARGIN-TOP: 5px; FONT-WEIGHT: 800; COLOR: #9d9faa; TEXT-ALIGN: center
}
.card-head .card-bg .card-liucheng-box {
	HEIGHT: 50px; POSITION: relative; TOP: -3px
}
.card-head .card-bg .card-liucheng-line {
	HEIGHT: 2px; BACKGROUND: #5077aa; POSITION: absolute; LEFT: 45px; Z-INDEX: 2
}
.card-head .card-bg .card-liucheng-line-gary {
	HEIGHT: 2px; BACKGROUND: #ddd; POSITION: relative; LEFT: 45px; Z-INDEX: 1
}
.card-head .card-bg .flex-liucheng {
	POSITION: absolute; LEFT: 3px; Z-INDEX: 2; TOP: -5px
}
.card-head .card-bg .flex-liucheng .circle {
	BORDER-TOP: #5077aa 2px solid; HEIGHT: 8px; BORDER-RIGHT: #5077aa 2px solid; WIDTH: 8px; BACKGROUND: #fff; BORDER-BOTTOM: #5077aa 2px solid; MARGIN-LEFT: auto; BORDER-LEFT: #5077aa 2px solid; MARGIN-RIGHT: auto; border-radius: 50%
}
.card-head .card-bg .flex-liucheng .gary {
	BORDER-TOP: #999 2px solid; BORDER-RIGHT: #999 2px solid; BORDER-BOTTOM: #999 2px solid; BORDER-LEFT: #999 2px solid
}
.card-head .card-bg .flex-liucheng .weui-flex__item {
	COLOR: #5077aa; TEXT-ALIGN: center
}
.card-head .card-bg .flex-liucheng H4 {
	FONT-SIZE: 14px; MARGIN-TOP: 8px; FONT-WEIGHT: normal
}
.card-head .card-bg .flex-liucheng P {
	FONT-SIZE: 12px; opacity: 0.7
}
.status-ibox {
	WIDTH: 100%; BACKGROUND: #fff; POSITION: fixed; Z-INDEX: 80; DISPLAY: none; TOP: 86px
}
.status-ibox .list {
	FONT-SIZE: 18px; BORDER-BOTTOM: #e5e5e5 1px solid; COLOR: #333; PADDING-LEFT: 15px; LINE-HEIGHT: 45px
}
.status-ibox .on.list {
	BORDER-BOTTOM: #0e85dd 1px solid; COLOR: #0e85dd
}
.weui-navbar.tab-fenlei:after {
	DISPLAY: none
}
.tab-fenlei {
	OVERFLOW: hidden; HEIGHT: 48px; WIDTH: 100%; BACKGROUND: #fff; POSITION: relative
}
.weui-navbar.tab-fenlei + .weui-tab__bd {
	PADDING-TOP: 0px
}
.tab-fenlei .tab-w {
	WIDTH: 2000px; POSITION: absolute
}
.tab-fenlei .weui-navbar__item {
	FONT-SIZE: 15px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; DISPLAY: inline-block; LINE-HEIGHT: 48px; PADDING-RIGHT: 5px; MARGIN-RIGHT: 10px
}
.tab-fenlei .weui-navbar__item:after {
	BORDER-RIGHT-STYLE: none
}
.tab-fenlei .weui-bar__item--on.weui-navbar__item {
	FONT-SIZE: 16px; BACKGROUND: none transparent scroll repeat 0% 0%; POSITION: relative; FLOAT: left; FONT-WEIGHT: 900; COLOR: #5077aa
}
.tab-fenlei .weui-bar__item--on.weui-navbar__item:after {
	HEIGHT: 4px; WIDTH: 30px; BACKGROUND: #5077aa; POSITION: absolute; BORDER-RIGHT-STYLE: none; CONTENT: ''; MARGIN-LEFT: -15px; LEFT: 50%; TOP: auto; BOTTOM: 0px; border-radius: 10px; -webkit-transform-origin: 0 0%; transform-origin: 0 0%
}
.tab-fenlei .tabicon {
	PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.tab-fenlei .tabicon I {
	FONT-SIZE: 18px; COLOR: #666
}
.tab-hidden {
	FONT-SIZE: 15px; WIDTH: 100%; BACKGROUND: #fff; POSITION: absolute; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 5px; Z-INDEX: 5; PADDING-RIGHT: 5px
}
.tab-hidden .tab-h {
	MARGIN-TOP: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 15px; DISPLAY: inline-block; PADDING-RIGHT: 15px; MARGIN-RIGHT: 5px
}
.tab-hidden .on.tab-h {
	BACKGROUND: #5077aa; COLOR: #fff; border-radius: 10px
}
.message_tab_content {
	MARGIN-TOP: 10px
}
.message_tab_content .mes_tab_list {
	MARGIN-BOTTOM: 10px; BACKGROUND: #363940; POSITION: relative; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.05)
}
.message_tab_content .mes_tab_list:after {
	HEIGHT: 1px; WIDTH: 95%; POSITION: absolute; CONTENT: ''; Z-INDEX: 1; BOTTOM: 0px; -webkit-transform: scaleY(.5); transform: scaleY(.5); -webkit-transform-origin: 0 100%; transform-origin: 0 100%
}
.message_tab_content .mes_tab_list:after {
	BORDER-BOTTOM-STYLE: none
}
.message_tab_content .mes_tab_list H4 {
	FONT-SIZE: 16px; OVERFLOW: hidden; HEIGHT: 40px; WIDTH: 99.5%; WHITE-SPACE: normal; TEXT-OVERFLOW: ellipsis; FONT-WEIGHT: normal; COLOR: #9d9faa; LINE-HEIGHT: 1.25; -webkit-box-orient: vertical; -webkit-line-clamp: 2
}
.message_tab_content .subtitle P {
	FONT-SIZE: 14px; MARGIN-TOP: 5px; COLOR: #666; DISPLAY: inline-block; MARGIN-RIGHT: 15px
}
.message-panel.action-common {
	PADDING-TOP: 15px
}
.message-panel.action-common P.comon-content {
	MARGIN-BOTTOM: 10px; MARGIN-TOP: 10px; BORDER-BOTTOM: #9d9faa 1px solid; PADDING-BOTTOM: 10px
}
.message-panel {
	BACKGROUND-COLOR: #363940; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.05)
}
.message-panel:before {
	DISPLAY: none
}
.message-panel:after {
	DISPLAY: none
}
.weui-panel.message-panel:after {
	DISPLAY: none
}
.message_detail_content .weui-media-box__title {
	FONT-SIZE: 18px; FONT-WEIGHT: 900
}
.message_detail_content P {
	FONT-SIZE: 16px; MARGIN-TOP: 10px; COLOR: #9d9faa
}
.message_detail_content .flex-info {
	DISPLAY: flex; align-items: center; justify-content: space-between
}
.message_detail_content .flex-info P {
	FONT-SIZE: 14px; COLOR: #999999
}
.message_detail_content .flex-info I {
	FONT-SIZE: 18px; VERTICAL-ALIGN: -2px; MARGIN-RIGHT: 5px
}
.action-common .interact-box {
	PADDING-BOTTOM: 10px; TEXT-ALIGN: right; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.action-common .interact-box DIV {
	FONT-SIZE: 14px; HEIGHT: 25px; WIDTH: 60px; COLOR: #adadad; PADDING-BOTTOM: 1px; TEXT-ALIGN: left; PADDING-TOP: 3px; PADDING-LEFT: 10px; DISPLAY: inline-block; PADDING-RIGHT: 10px; MARGIN-RIGHT: 5px
}
.action-common .interact-box I {
	FONT-SIZE: 17px; VERTICAL-ALIGN: -2px; COLOR: #adadad; PADDING-RIGHT: 5px
}
UNKNOWN {
	COLOR: #0e85dd
}
UNKNOWN {
	COLOR: #0e85dd
}
UNKNOWN {
	COLOR: #ff6339
}
UNKNOWN {
	COLOR: #ff6339
}
.zby-title {
	FONT-SIZE: 16px; COLOR: #ff6339
}
.zba-title {
	FONT-SIZE: 16px; COLOR: #5179a9
}
.zby-title:before {
	BACKGROUND: url(../../images/radus_bg_orange.png) no-repeat
}
.zba-title:before {
	BACKGROUND: url(../../images/radus_bg_blue.png) no-repeat
}
.zby-title:before {
	HEIGHT: 23px; WIDTH: 20px; POSITION: absolute; CONTENT: ''; LEFT: 0px; Z-INDEX: 1; background-size: contain
}
.zba-title:before {
	HEIGHT: 23px; WIDTH: 20px; POSITION: absolute; CONTENT: ''; LEFT: 0px; Z-INDEX: 1; background-size: contain
}
.zby-hui-title {
	MARGIN-BOTTOM: 5px; BACKGROUND: #efefef; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; border-radius: 5px
}
.action-common P.comon-content {
	COLOR: #9d9faa
}
.question-select-box {
	MARGIN-TOP: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.question-select-box A {
	FONT-SIZE: 15px; MARGIN-BOTTOM: 15px; BORDER-TOP: #5077aa 1px solid; BORDER-RIGHT: #5077aa 1px solid; WIDTH: 33.33%; BORDER-BOTTOM: #5077aa 1px solid; COLOR: #5077aa; PADDING-BOTTOM: 8px; TEXT-ALIGN: center; PADDING-TOP: 8px; PADDING-LEFT: 18px; BORDER-LEFT: #5077aa 1px solid; DISPLAY: inline-block; PADDING-RIGHT: 18px; MARGIN-RIGHT: 15px; border-radius: 10px
}
.question-select-box A.on {
	BORDER-TOP: #5077aa 1px solid; BORDER-RIGHT: #5077aa 1px solid; BACKGROUND: #5077aa; BORDER-BOTTOM: #5077aa 1px solid; COLOR: #fff; BORDER-LEFT: #5077aa 1px solid
}
.btn-toggle {
	FONT-SIZE: 13px; MARGIN-TOP: 5px; COLOR: #999; TEXT-ALIGN: right
}
.h_ellipsis {
	OVERFLOW: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3
}
.sp-message-interact-one {
	BORDER-TOP: #9d9faa 1px solid; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; MARGIN: 10px 0px -15px; PADDING-RIGHT: 0px
}
.sp-message-interact {
	MARGIN-TOP: 5px; DISPLAY: flex
}
.sp-message-interact SPAN {
	flex: 1
}
.sp-message-interact SPAN {
	FONT-SIZE: 14px; COLOR: #0e85dd
}
.sp-message-interact A {
	FONT-SIZE: 14px; COLOR: #0e85dd
}
.sp-message-interact-one A {
	FONT-SIZE: 15px; COLOR: #4ec3f7
}
.sp-message-interact-one A I {
	FONT-SIZE: 20px; MARGIN-RIGHT: 5px
}
UNKNOWN {
	COLOR: #0e85dd
}
UNKNOWN {
	COLOR: #da4f49
}
.sp-message-interact I {
	MARGIN-RIGHT: 5px
}
.sp-message-interact-one I {
	MARGIN-RIGHT: 5px
}
.answer_btn {
	MARGIN-BOTTOM: 10px; TEXT-ALIGN: right
}
.answer_btn A {
	MARGIN-RIGHT: 10px
}
.sp-message-flex {
	BORDER-TOP: #9d9faa 1px solid; MARGIN-TOP: 5px; PADDING-TOP: 5px; DISPLAY: flex; align-items: center; justify-content: space-between; flex-direction: row
}
.sp-message-flex .tip-leixing {
	FONT-SIZE: 14px; MARGIN-TOP: 3px; COLOR: #666
}
.sp-message-flex .tip-leixing I {
	VERTICAL-ALIGN: -2px; MARGIN-RIGHT: 5px
}
.sp-message-flex .subtitle P {
	MARGIN-TOP: 0px
}
.gary_yiyan {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; BACKGROUND: #efefef; COLOR: #333; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; border-radius: 5px
}
.gary_yiyan SPAN {
	COLOR: #666; MARGIN: 0px 3px
}
.process-ul {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN-LEFT: auto; DISPLAY: flex; PADDING-RIGHT: 0px; MARGIN-RIGHT: auto; flex-direction: row
}
.tree.process-ul {
	WIDTH: 290px
}
.four.process-ul {
	WIDTH: 300px
}
.process-ul LI {
	TEXT-ALIGN: center; DISPLAY: inline-block; flex: 1
}
.process-ul .circle {
	BORDER-TOP: #9d9faa 2px solid; HEIGHT: 8px; BORDER-RIGHT: #9d9faa 2px solid; WIDTH: 8px; BACKGROUND: #fff; BORDER-BOTTOM: #9d9faa 2px solid; POSITION: relative; BORDER-LEFT: #9d9faa 2px solid; Z-INDEX: 10; DISPLAY: inline-block; border-radius: 50%
}
.process-ul .line {
	BORDER-BOTTOM: #9d9faa 2px solid; POSITION: absolute; LEFT: 10px; Z-INDEX: 1; TOP: 3px
}
.tree.process-ul .line {
	WIDTH: 90px
}
.four.process-ul .line {
	WIDTH: 65px
}
.process-ul H4 {
	FONT-SIZE: 14px; MARGIN-TOP: 5px; FONT-WEIGHT: normal; COLOR: #999
}
.process-ul P {
	FONT-SIZE: 12px; COLOR: #9d9faa; opacity: 0.7
}
.process-ul LI.on .circle {
	BORDER-TOP-COLOR: #5077aa; BORDER-LEFT-COLOR: #5077aa; BORDER-BOTTOM-COLOR: #5077aa; BORDER-RIGHT-COLOR: #5077aa
}
.process-ul LI.on .line {
	BORDER-TOP-COLOR: #5077aa; BORDER-LEFT-COLOR: #5077aa; BORDER-BOTTOM-COLOR: #5077aa; BORDER-RIGHT-COLOR: #5077aa
}
.process-ul LI.on H4 {
	COLOR: #9d9faa
}
.process-ul LI.on P {
	COLOR: #9d9faa
}
.process-ul LI.off H4 {
	COLOR: #5077aa
}
.process-ul LI.off P {
	COLOR: #5077aa
}
.process-ul LI.off .circle {
	BORDER-TOP-COLOR: #5077aa; BORDER-LEFT-COLOR: #5077aa; BORDER-BOTTOM-COLOR: #5077aa; BORDER-RIGHT-COLOR: #5077aa
}
.action-cbox .weui-cells:after {
	DISPLAY: none
}
.weui-cells.action-cbox:before {
	DISPLAY: none
}
.weui-panel.action-cbox:after {
	DISPLAY: none
}
.share-cbox {
	BACKGROUND-COLOR: #363940; border-radius: 10px; box-shadow: 0 0px 5px rgba(0,0,0,0.01)
}
.share-cbox P {
	COLOR: #9d9faa
}
.share-cbox .order-startus-title {
	FONT-SIZE: 15px; BORDER-BOTTOM: #9d9faa 1px solid; PADDING-BOTTOM: 10px
}
.weui-cells.share-cbox:after {
	DISPLAY: none
}
.card-head .card-bg .process-ul {
	MARGIN-BOTTOM: 10px
}
.yuding-ibox {
	PADDING-TOP: 15px
}
.yuding-ibox .meeting-card-title {
	FONT-SIZE: 14px; BACKGROUND: url(../../images/radus_bg_orange.png) no-repeat; COLOR: #9d9faa; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; background-size: contain
}
.yuding-ibox .card-content-padding {
	BORDER-TOP: #9d9faa 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 10px; PADDING-LEFT: 0px; MARGIN: 10px 10px 5px; PADDING-RIGHT: 0px
}
.yuding-ibox .card-content-padding .meeting-card-content {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; COLOR: #9d9faa
}
.yuding-ibox .card-content-padding .meeting-card-content I {
	FONT-SIZE: 13px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.share-xuqiu .weui-cells .weui-cell__bd {
	COLOR: #b3b3b3
}
