UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BODY {
	BACKGROUND-COLOR: #f3f3f3
}
.pull-left {
	FLOAT: left
}
.pull-right {
	FLOAT: right
}
.clearfix {
	CLEAR: both
}
.box-content {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.m-t-5 {
	MARGIN-TOP: 5px
}
.m-t-10 {
	MARGIN-TOP: 10px
}
.m-b-5 {
	MARGIN-BOTTOM: 5px
}
.m-b-10 {
	MARGIN-BOTTOM: 10px
}
.m-r-10 {
	MARGIN-RIGHT: 10px
}
.text-center {
	TEXT-ALIGN: center
}
.text-right {
	TEXT-ALIGN: right
}
.bg-white {
	BACKGROUND: #fff
}
.font14 {
	FONT-SIZE: 14px
}
.font16 {
	FONT-SIZE: 16px
}
.font18 {
	FONT-SIZE: 18px
}
.weui-icon-success {
	COLOR: #0e85dd
}
.container-box {
	OVERFLOW: hidden; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px
}
.btn-mainbg {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND: #5da3df; BORDER-BOTTOM-STYLE: none; COLOR: #fff; BORDER-RIGHT-STYLE: none
}
.safe-operation-box {
	MARGIN-BOTTOM: 40px; MARGIN-TOP: 40px
}
