BODY {
	-webkit-tap-highlight-color: transparent
}
HTML {
	-webkit-tap-highlight-color: transparent
}
BODY {
	FONT-FAMILY: -apple-system-font,Helvetica Neue,Helvetica,sans-serif
}
UL {
	LIST-STYLE-TYPE: none
}
.page {
	BACKGROUND-COLOR: #edf6fc
}
BODY {
	BACKGROUND-COLOR: #edf6fc
}
.link {
	COLOR: #1aad19
}
.container {
	OVERFLOW: hidden
}
.container {
	RIGHT: 0px; POSITION: absolute; LEFT: 0px; TOP: 0px; BOTTOM: 0px
}
.page {
	RIGHT: 0px; POSITION: absolute; LEFT: 0px; TOP: 0px; BOTTOM: 0px
}
.page {
	OVERFLOW-Y: auto; Z-INDEX: 1; opacity: 0; -webkit-overflow-scrolling: touch
}
.js_show.page {
	opacity: 1
}
.page__hd {
	PADDING-BOTTOM: 40px; PADDING-TOP: 40px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px
}
.page__bd_spacing {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.page__ft {
	PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 40px
}
.page__ft IMG {
	HEIGHT: 19px
}
.j_bottom.page__ft {
	RIGHT: 0px; POSITION: absolute; LEFT: 0px; BOTTOM: 0px
}
.page__title {
	FONT-SIZE: 20px; FONT-WEIGHT: 400; TEXT-ALIGN: left
}
.page__desc {
	FONT-SIZE: 14px; MARGIN-TOP: 5px; COLOR: #888; TEXT-ALIGN: left
}
.home.page .page__intro-icon {
	HEIGHT: 16px; WIDTH: 16px; VERTICAL-ALIGN: middle; MARGIN-TOP: -0.2em; MARGIN-LEFT: 5px
}
.home.page .page__title {
	FONT-SIZE: 0px; MARGIN-BOTTOM: 15px
}
.home.page .page__bd IMG {
	HEIGHT: 30px; WIDTH: 30px
}
.home.page .page__bd LI {
	OVERFLOW: hidden; CURSOR: pointer; MARGIN: 10px 0px; BACKGROUND-COLOR: #fff; border-radius: 2px
}
.home.page .page__bd LI.js_show .weui-flex {
	opacity: .4
}
.home.page .page__bd LI.js_show .page__category {
	HEIGHT: auto
}
.home.page .page__bd LI.js_show .page__category-content {
	-webkit-transform: translateY(0); transform: translateY(0); opacity: 1
}
.home.page .page__bd LI:first-child {
	MARGIN-TOP: 0px
}
.home.page .page__category {
	OVERFLOW: hidden; HEIGHT: 0px
}
.home.page .page__category-content {
	-webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: .3s; transition: .3s; opacity: 0
}
.home.page .weui-flex {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; -webkit-box-align: center; -webkit-align-items: center; align-items: center; -webkit-transition: .3s; transition: .3s
}
.home.page .weui-cells {
	MARGIN-TOP: 0px
}
.home.page .weui-cells:after {
	DISPLAY: none
}
.home.page .weui-cells:before {
	DISPLAY: none
}
.home.page .weui-cell {
	PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.home.page .weui-cell:before {
	RIGHT: 20px; LEFT: 20px
}
.button.page .page__bd {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.button.page .button-sp-area {
	WIDTH: 60%; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; MARGIN: 0px auto; PADDING-RIGHT: 0px
}
.cell.page .page__bd {
	PADDING-BOTTOM: 30px
}
.form.page .page__bd {
	PADDING-BOTTOM: 30px
}
.actionsheet.page {
	BACKGROUND-COLOR: #fff
}
.dialog.page {
	BACKGROUND-COLOR: #fff
}
.dialog.page .page__bd {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.msg.page {
	BACKGROUND-COLOR: #fff
}
.msg_success.page {
	BACKGROUND-COLOR: #fff
}
.msg_warn.page {
	BACKGROUND-COLOR: #fff
}
.toast.page {
	BACKGROUND-COLOR: #fff
}
.panel.page .page__bd {
	PADDING-BOTTOM: 20px
}
.article.page {
	BACKGROUND-COLOR: #fff
}
.icons.page {
	TEXT-ALIGN: center
}
.icons.page .page__bd {
	PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px
}
.icons.page .icon-box {
	MARGIN-BOTTOM: 25px; DISPLAY: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center
}
.icons.page .icon-box I {
	MARGIN-RIGHT: 18px
}
.icons.page .icon-box__ctn {
	-webkit-flex-shrink: 100; flex-shrink: 100
}
.icons.page .icon-box__title {
	FONT-WEIGHT: 400
}
.icons.page .icon-box__desc {
	FONT-SIZE: 12px; MARGIN-TOP: 6px; COLOR: #888
}
.icons.page .icon_sp_area {
	MARGIN-TOP: 10px; TEXT-ALIGN: left
}
.icons.page .icon_sp_area I:before {
	MARGIN-BOTTOM: 5px
}
.flex.page .placeholder {
	HEIGHT: 2.3em; COLOR: #cfcfcf; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 10px; MARGIN: 5px; LINE-HEIGHT: 2.3em; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ebebeb
}
.loadmore.page {
	BACKGROUND-COLOR: #fff
}
.layers.page {
	OVERFLOW-X: hidden; -webkit-perspective: 1000px; perspective: 1000px
}

@media Unknown    
{
.layers.page .page__hd {
	PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
    }
.layers.page .page__bd {
	POSITION: relative
}
.layers.page .page__desc {
	MIN-HEIGHT: 4.8em
}
.layers.page .layers__layer {
	BOX-SIZING: border-box; FONT-SIZE: 14px; HEIGHT: 266px; WIDTH: 150px; BACKGROUND: url(images/layers/transparent.gif) no-repeat 50% 50%; POSITION: absolute; COLOR: #fff; MARGIN-LEFT: -75px; LEFT: 50%; background-size: contain; -webkit-transition: .5s; transition: .5s
}
.layers.page .layers__layer SPAN {
	RIGHT: 0px; POSITION: absolute; TEXT-ALIGN: center; LEFT: 0px; BOTTOM: 5px; -webkit-transition: .5s; transition: .5s
}
.layers.page .layers__layer:unknown SPAN {
	COLOR: #aaa
}
.layers.page .j_hide.layers__layer {
	opacity: 0
}
.layers.page .j_pic.layers__layer SPAN {
	COLOR: transparent
}

@media Unknown    
{
.layers.page .layers__layer {
	HEIGHT: 320px; WIDTH: 180px; MARGIN-LEFT: -90px
}
.layers.page .layers__layer {
	HEIGHT: 355px; WIDTH: 200px; MARGIN-LEFT: -100px
}
    }
.layers.page .layers__layer_popout {
	Z-INDEX: 4
}
.layers.page .j_transform.layers__layer_popout {
	-webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(120px); transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(120px)
}

@media Unknown    
{
.layers.page .j_transform.layers__layer_popout {
	-webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(140px); transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(140px)
}
    }
.layers.page .j_pic.layers__layer_popout {
	BORDER-TOP-COLOR: transparent; BACKGROUND-IMAGE: url(images/layers/popout.png); BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: transparent; BORDER-RIGHT-COLOR: transparent
}
.layers.page .layers__layer_mask {
	Z-INDEX: 3
}
.layers.page .j_transform.layers__layer_mask {
	-webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(40px); transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(40px)
}

@media Unknown    
{
.layers.page .j_transform.layers__layer_mask {
	-webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(80px); transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(80px)
}
    }
.layers.page .layers__layer_navigation {
	Z-INDEX: 2
}
.layers.page .j_transform.layers__layer_navigation {
	-webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px); transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px)
}

@media Unknown    
{
.layers.page .j_transform.layers__layer_navigation {
	-webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(20px); transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(20px)
}
    }
.layers.page .j_pic.layers__layer_navigation {
	BACKGROUND-IMAGE: url(images/layers/navigation.png); BACKGROUND-COLOR: transparent
}
.layers.page .layers__layer_content {
	Z-INDEX: 1; BACKGROUND-COLOR: #fff
}
.layers.page .j_transform.layers__layer_content {
	-webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-120px); transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-120px)
}

@media Unknown    
{
.layers.page .j_transform.layers__layer_content {
	-webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px); transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px)
}
    }
.layers.page .j_pic.layers__layer_content {
	BACKGROUND-IMAGE: url(images/layers/content.png)
}
.searchbar.page .searchbar-result {
	FONT-SIZE: 14px; MARGIN-TOP: 0px; DISPLAY: none
}
.searchbar.page .searchbar-result .weui-cell__bd {
	COLOR: #666; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px
}
.actionsheet.page {
	OVERFLOW: hidden
}
.picker.page {
	OVERFLOW: hidden
}
.picker.page {
	BACKGROUND-COLOR: #fff
}
.gallery.page {
	OVERFLOW: hidden
}
.slideIn.page {
	-webkit-animation: a .2s forwards; animation: a .2s forwards
}
.slideOut.page {
	-webkit-animation: b .2s forwards; animation: b .2s forwards
}
