.safe-trip-title {
	FONT-SIZE: 24px; COLOR: #1c5296; MARGIN: 40px 0px 0px
}
.safe-img IMG {
	WIDTH: 100%
}
.safe-img {
	PADDING-BOTTOM: 10px; PADDING-TOP: 20px; PADDING-LEFT: 35px; PADDING-RIGHT: 35px
}
.safe-tip-content {
	FONT-SIZE: 14px; COLOR: #666; TEXT-ALIGN: center; MARGIN: 10px 0px
}
.from-box {
	MARGIN-TOP: 0px
}
.weui-cells.from-box:before {
	DISPLAY: none
}
.weui-cells.from-box:after {
	DISPLAY: none
}
.weui-cells.from-box .weui-cell {
	MARGIN-TOP: 15px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 10px
}
.weui-cells.from-box .weui-cell .weui-label {
	FONT-SIZE: 15px; MARGIN-BOTTOM: 5px; WIDTH: 100%
}
.weui-cells.from-box .weui-cell .weui-label .red {
	FONT-SIZE: 18px; VERTICAL-ALIGN: -2px; COLOR: #e20c30; MARGIN-LEFT: 5px
}
.weui-cells_form.from-box INPUT {
	FONT-SIZE: 16px; COLOR: #1c5296
}
.weui-cells_form.from-box INPUT:unknown {
	COLOR: #999
}
.weui-cells_form.from-box TEXTAREA:unknown {
	COLOR: #999
}
.weui-cells.from-box .weui-cell:before {
	DISPLAY: none
}
.weui-cells.from-box .weui-cell:after {
	BORDER-TOP: #a40008 1px solid; HEIGHT: 1px; RIGHT: 0px; POSITION: absolute; COLOR: #e5e5e5; CONTENT: " "; LEFT: 0px; Z-INDEX: 2; BOTTOM: 0px; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); -webkit-transform-origin: 0 0; transform-origin: 0 0
}
.tip-font {
	FONT-SIZE: 14px; MARGIN-TOP: 5px; COLOR: #999
}
.weui-btn {
	LINE-HEIGHT: 2.3333
}
.icon_down {
	WIDTH: 16px; RIGHT: 10px; POSITION: absolute; BOTTOM: 5px
}
.icon_down IMG {
	WIDTH: 100%
}
.company-name {
	FONT-SIZE: 15px; COLOR: #999; TEXT-ALIGN: center; MARGIN: 40px 0px 30px
}
.company-name IMG {
	WIDTH: 150px; VERTICAL-ALIGN: -2px; MARGIN-RIGHT: 5px
}
.weui-dialog__btn {
	COLOR: #e20c30
}
.toolbar .picker-button {
	COLOR: #e20c30
}
.weui-cells_radio .weui-check:unknown + .weui-icon-checked:before {
	COLOR: #e20c30
}
.weui-check__label:active {
	BACKGROUND: #fbf1f2
}
.weui-search-bar__box .weui-search-bar__input {
	FONT-SIZE: 18px
}
.weui-search-bar__box .weui-search-bar__input {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.weui-search-bar__box .weui-icon-search {
	LEFT: 6px; TOP: 7px
}
.weui-search-bar__box .weui-icon-clear {
	TOP: 7px
}
.radio-box {
	BACKGROUND: #fff; OVERFLOW-Y: auto; MAX-HEIGHT: 300px
}
.radio-box.weui-cells:after {
	DISPLAY: none
}
.weui-search-bar {
	BACKGROUND: #f3f3f3
}
.body-bg {
	POSITION: absolute; LEFT: 0px; BOTTOM: 0px
}
.body-bg IMG {
	WIDTH: 100%; DISPLAY: block
}
.card-company {
	HEIGHT: 170px; POSITION: relative; COLOR: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; MARGIN: 30px 0px; PADDING-RIGHT: 10px; border-radius: 10px; box-shadow: 0 0 10px rgba(25,36,142,0.7)
}
.flex-box {
	HEIGHT: 130px; DISPLAY: flex; align-items: center; justify-content: space-between
}
.card-icon {
	WIDTH: 30%
}
.card-img {
	WIDTH: 30%; POSITION: absolute; LEFT: 0px; BOTTOM: 0px
}
.card-img IMG {
	WIDTH: 100%; DISPLAY: block
}
.card-content {
	WIDTH: 70%; MARGIN-TOP: 5px
}
.contentinfo {
	PADDING-LEFT: 10px; PADDING-RIGHT: 5px
}
.contentinfo H4 {
	FONT-SIZE: 15px; MARGIN-BOTTOM: 10px; FONT-WEIGHT: normal; LINE-HEIGHT: 1.2em
}
.contentinfo .name {
	FONT-SIZE: 15px; MARGIN-BOTTOM: 5px; HEIGHT: 23px
}
.contentinfo .name-en {
	FONT-SIZE: 15px; OVERFLOW: hidden; MARGIN-BOTTOM: 5px; HEIGHT: 23px; FONT-FAMILY: arial; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; DISPLAY: block
}
.pink-bg {
	MARGIN-TOP: 15px; box-shadow: 0 0 10px rgba(255,55,104,0.7)
}
.green-bg {
	MARGIN-TOP: 15px; box-shadow: 0 0 10px rgba(0,188,158,0.7)
}
